.adduser{
  width: max-content;
  height: max-content;
  padding: 30px;
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.adduser form{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  /* margin-bottom: 20px; */
}
.adduser form button{
  background-color: #2f184b;
  color: #f7ebfd;
  font-family: "Roboto Slab", serif;
  border: none;
  height: 30px;
  align-self: center;
  border-radius: 5px;
  width: 70px;
  cursor: pointer;
}
.adduser input{
  padding: 15px;
  background-color: #f7ebfd;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #2f184b;
  height:10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.adduser input::placeholder{
  color: #2f184baf;
}
.user-to-add{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  gap: 10px;
  margin-bottom: 15px;
}
.detail img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-to-add button{
  justify-self: center;
  background-color: #2f184b;
  color: #f7ebfd;
  font-family: "Roboto Slab", serif;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}